*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml

.DS_Store
/build
/captures
.externalNativeBuild

# adding files ignorance
gradle.properties
.directory
*.ipr
*.iws
.idea/

*.apk
*.ap_
*.dex
*.class
build.xml
gen/
proguard/
out
.settings/
*.swp
*~
